header.primary {
    width:100%;
    height:100%;
    background-image:url("../img/dragonheader.jpg");
    background-size:cover;
}

header.primary{
    text-align:center;
}

header.primary h1 a{
    color:#ffffff;
    text-decoration:none;
    text-align:center;
    text-shadow:2px 2px #000;
    font-family:monospace;
    padding-top:50px;
    font-size:50px;
}

header.primary h2{
  padding-left:5em;
  padding-top:2em;
}

header.primary h2 {
    color:#ffffff;
    text-align:center;
    text-align:center;
    text-shadow:1px 2px #000;
    font-family:monospace;
}

header.primary nav ul{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}

header.primary nav ul li{
    list-style-type:none;
    padding:100px;
    font-family:monospace;
}

header.primary nav ul li a{
    color:white;
    text-align:center;
    text-decoration:none;
    background-color:ffffff;
    background-color:rgba(0,21,100,20);
    padding: 8px 16px;
    border-radius:20em;
    transition:0.5s;
    font-size:2.0em;
}

header.primary nav ul li a:hover{
    color:red;
}

 header.primary nav ul li a:visited{
     color:222;
 }
 
  header.primary nav ul li a:active{
      color:blue;
  }
  
  section#container p h2{
      color:red;
  }
  
  
  /*--articles--*/
  
  
  
 #articles{
      display:flex;
      flex-direction:row;
      justify-content: space-between;
      flex-wrap: wrap;
      border-bottom: 1px solid #c0c0c0;
      padding: 1em 1em 2em 1em;
  }
  
  section h2,
  #content h2{
      flex: 0 0 100%;
      color:#000066;
      text-align: center;
      font-size: 2em;
      text-shadow:1.3px 0.1px #000;
      font-family:monospace;
  }
  
   section h2,
  #content p{
      color:000000;
      font-size:1.2rem;
      padding-right:50px;
      padding-left:50px;
      font-family:monospace;
  }
  
  section#articles{
      background-color:#000033;
  }
  
  #articles article.post {
  width: 30%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  padding: 15px;
  transition: 0.6s;
  font-size: 0.8rem;
  border-radius: 10px;
  background: #fff;
}



#articles article.post:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}



#articles .post figure {
  margin: 0;
  color:000000;
  font-size:1.7em;
  font-family:monospace;
}

#articles .post img {
  border-radius: 10px;
 
  
}

#articles ul {
  padding: 20px;
}

#articles li {
  margin-bottom: 20px;
}

/*-------Background info and overview-------*/

aside[role="complementary"] {
  background-color:#000033;
  color:#ffffff;
  padding:5em 5em 5em 5em;
  
}

aside .container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family:monospace;
}


aside article a:link,
aside article a:visited {
  color: #ffffff;
  display: block;
  margin-top: 1.2em;
  letter-spacing: 1.2px;
 
}

aside article a:hover,
aside article a:active {
  text-decoration: none;
}

aside article footer {
  display: none;
}

/*--footer--*/

footer#colophon {
  background-color: #000033;
}

#colophon h6 {
  padding: 20px;
  margin: 0;
  color: #fff;
  text-align: center;
  font-size: 0.9rem;
  text-transform: uppercase;
}

#colophon h6 a:link,
#colophon h6 a:visited {
  color: #fff;
}

/*--history table--*/

#content h1{
  color:#000066;
  text-align:center;
  font-family:monospace;
}

table, th, td {
  border: 1px solid black;
  width:100%;
  font-family:monospace;
}